body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D6D6D6;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: #997962;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.progress-section {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 500px;
    margin: 0 5rem
}

canvas {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 2rem 0;
}

.details {
    margin: 5rem 10rem;
}

.details p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    text-align: center;
}

.details strong {
    color: #004d40;
}

@media screen and (max-width: 600px) {
    .progress-section {
        display: block;
        height: 200px;
        /* width: 5rem; */
        margin-bottom: 15rem;
        /* margin-top: 2rem; */
    }

    .details {
        margin: 4rem auto;

    }

    canvas {
        margin-top: 2rem;
    }
}